<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862074322857-nddrc4fajnk1kuquo3vik2r2bjbg19j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862074322857-nddrc4fajnk1kuquo3vik2r2bjbg19j3</string>
	<key>API_KEY</key>
	<string>AIzaSyArZnj7CaoT_xPZasaYpjfE9HEVKF47oAU</string>
	<key>GCM_SENDER_ID</key>
	<string>862074322857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-463d5</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-463d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862074322857:ios:fbc3991316438c80834eb8</string>
</dict>
</plist>